<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>API</title>
    <link rel="stylesheet" href="/Home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Home/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Home/css/Article-List.css">
    <link rel="stylesheet" href="/Home/css/styles.css">
</head>

<body>
<div class="article-list">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">API's</h2>
                <p class="text-center">API return single as well as collection of objects. Get, POST etc...</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Charity Houses</h3>
                        <p>Charity Houses API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/charityHouses/}">https://food-distribution-app.herokuapp.com/charityHouses</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Donners</h3>
                        <p>Donners API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/donners/}">https://food-distribution-app.herokuapp.com/donners</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Donations</h3>
                        <p>Donations API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/donations/}">https://food-distribution-app.herokuapp.com/donations</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Fund Donations</h3>
                        <p>Fund Donations API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/fundDonations/}">https://food-distribution-app.herokuapp.com/fundDonations</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Food Donations</h3>
                        <p>Food Donations API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/foodDonations/}">https://food-distribution-app.herokuapp.com/foodDonations</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div>
                        <h3 class="name">Feedbacks</h3>
                        <p>Feedbacks API with complete operations without delete.</p><br>
                        <br><a th:href="@{https://food-distribution-app.herokuapp.com/feedbacks/}">https://food-distribution-app.herokuapp.com/feedbacks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Home/js/jquery.min.js"></script>
<script src="/Home/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>